<style>
    .b-bar-vertical-inline.b-bar-light .b-bar-link.active, .b-bar-vertical-popout.b-bar-light .b-bar-link.active, .b-bar-vertical-small.b-bar-light .b-bar-link.active {
        color: var(--b-bar-item-light-active-color, #fff);
        background: #afc5e938;
    }



    .b-bar-dropdown-menu-container {
    }

    .b-bar-vertical-inline.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item.active, .b-bar-vertical-popout.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item.active, .b-bar-vertical-small.b-bar-light .b-bar-dropdown-menu .b-bar-dropdown-item.active {
        color: var(--b-bar-item-light-active-color, #fff);
        background: #afc5e938;
    }

    .navbar-toggler {
        padding: .25rem .75rem;
        font-size: 1.25rem;
        line-height: 1;
        background-color: #ced4da;
        border: 1px solid transparent;
        border-radius: .25rem;
    }

    }
</style>
<BarBrand style="background:#dbefed;color:#008080b8;font-family: sans-serif; padding:5px;font-size: 28px;">
    <BarItem Class="m-2">

        <Span style="animation:ease-in; font-size: 28px; color:#0b1fa7;font-family: sans-serif;">AON</Span>LOGBOOK
    </BarItem>
</BarBrand>
<BarMenu Style=" background: linear-gradient(253deg, #5ad3b9fa, #342cab);
        color:white;">
    <BarStart>
        <BarItem>
            <BarLink To="">
                <BarIcon IconName="IconName.Dashboard" Style="color:#393939" />
                Home
            </BarLink>
        </BarItem>
        <BarItem>
            <BarDropdown>
                <BarDropdownToggle>
                    <BarIcon IconName="IconName.BookReader" Style="color:#393939" />
                    Configuration
                </BarDropdownToggle>
                <BarDropdownMenu Style="background: linear-gradient(243deg, #5ad3b9fa, rgb(0 0 0 / 10%));">
                    <BarDropdownItem To="Company"><BarIcon IconName="IconName.City" Style="color:#393939"></BarIcon>Company(s)</BarDropdownItem>
                    <BarDropdownItem To="Plant"><BarIcon IconName="IconName.Building" Style="color:#393939"></BarIcon>Plant(s)</BarDropdownItem>
                    <BarDropdownItem To="Department"><BarIcon IconName="IconName.LayerGroup" Style="color:#393939"></BarIcon>Department(s)</BarDropdownItem>
                    <BarDropdownItem To="SubDepartment"><BarIcon IconName="IconName.Users" Style="color:#393939"></BarIcon>SubDepartment(s)</BarDropdownItem>
                    <BarDropdownItem To="Shift"><BarIcon IconName="IconName.Clock" Style="color:#393939"></BarIcon>Shift(s)</BarDropdownItem>
                </BarDropdownMenu>
            </BarDropdown>
        </BarItem>
        <BarItem>
            <BarLink To="Logbook">
                <BarIcon IconName="IconName.Book" Style="color:#393939 "></BarIcon>LogBook(s)
            </BarLink>
        </BarItem>
        <BarItem>
            <BarLink To="DynamicForm">
                <BarIcon IconName="IconName.Receipt" Style="color:#393939"></BarIcon>Logbook Entry
            </BarLink>
        </BarItem>
        <BarItem>
            <BarDropdown>
                <BarDropdownToggle>
                    <BarIcon IconName="IconName.Edit" Style="color:#393939" />
                    Element Master
                </BarDropdownToggle>
                <BarDropdownMenu Style="background: linear-gradient(243deg, #5ad3b9fa, rgb(0 0 0 / 10%));">
                    <BarDropdownItem To="TagMaster"><BarIcon IconName="IconName.Tag" Style="color:#393939"></BarIcon>Tag Master</BarDropdownItem>
                    <BarDropdownItem To="UOMMaster"><BarIcon IconName="IconName.Flask" Style="color:#393939"></BarIcon>UOM Master</BarDropdownItem>
                </BarDropdownMenu>
            </BarDropdown>

        </BarItem>
        <BarItem>
            <BarDropdown>
                <BarDropdownToggle>
                    <BarIcon IconName="IconName.Tablet" Style="color:#393939" />
                    Lookup Master
                </BarDropdownToggle>
                <BarDropdownMenu Style="background: linear-gradient(243deg, #5ad3b9fa, rgb(0 0 0 / 10%));">
                    <BarDropdownItem To="LookupCreation"><BarIcon IconName="IconName.List" Style="color:#393939"></BarIcon>Lookup Creation</BarDropdownItem>
                    <BarDropdownItem To="LookupParam"><BarIcon IconName="IconName.List" Style="color:#393939"></BarIcon>Lookup Parameter</BarDropdownItem>
                    <BarDropdownItem To="Lookup"><BarIcon IconName="IconName.List" Style="color:#393939"></BarIcon>Lookup(s)</BarDropdownItem>

                </BarDropdownMenu>
            </BarDropdown>

        </BarItem>
        <BarItem>

            <BarLink To="Logout">
                <BarIcon IconName="IconName.LockOpen" Style="color:#393939"></BarIcon>Log Out
            </BarLink>
        </BarItem>
    </BarStart>
</BarMenu>
