@page "/FormMaster"

@inject IHttpService httpservice

<style></style>



<div class="Container">
    <div class="row">
        <Heading Size="HeadingSize.Is3" Flex="Flex.JustifyContent.Center">Form Creation</Heading>
        <hr />
        <div class="col-md-12">
            <button class="btn" style="margin-top:10px;background:#659abb;color:#000;" @onclick="@AddFormGroup">
                <span><i class="fa fa-plus" aria-hidden="true"></i></span>
                Add
            </button>
            @if (formgrp != null)
            {
                @foreach (var item in formgrp)
                {
                    <div id="accordion">
                        <div class="faq-container m-2">
                            <div class="card w-100" style="border-top: 1px solid #FF6E31;">

                                <details class="d-flex m-2">
                                    <summary><i class="fa fa-city p-2" style="color:#243763;"></i>@item.FormGroup</summary>
                                    <div class="row">
                                        <p style="margin-left:10px;">
                                          

                                            <button class="btn btnEdit p-1 m-1" style="font-size:13px;" @onclick=@(()=>handalEditFormgrp(item))><i class="fa fa-pen p-2" /></button>
                                            <button class="btn btn-danger p-1 m-1" style="font-size:13px;"><i class="fa fa-trash p-2" /></button>
                                            <button class="btn btnAdd p-2 m-1" style="font-size:13px;" @onclick=@(()=>handleAddnewform(item))>Plants</button>

                                        </p>
                                    </div>
                                </details>

                            </div>
                        </div>
                    </div>
                }
            }

        </div>
    </div>
</div>



@code {

    IEnumerable<Formgroup> formgrp;


    void AddFormGroup()
    {

    }
    void handalEditFormgrp(Formgroup item)
    {

    }
    void handleAddnewform(Formgroup item)
    {
        
    }
}
