@page "/LoginPage"
@using AONLOGBOOK.SHARED.CModels;
@using Newtonsoft.Json;
@inject NavigationManager nav

<h3>LoginPage</h3>
<MudPaper>
    <MudForm Model="@log" @ref="form" @bind-IsValid="@success" >
        <MudTextField T="string" Label="Username" @bind-Value="@log.Username" Required="true" RequiredError="Username is Required"/>
        <MudTextField T="string" Label="Password" @bind-Value="@log.Password" Required="true" RequiredError="Password is Required" InputType="InputType.Password"/>
        <div class="d-flex">
            <MudButton Variant="Variant.Filled" OnClick="Submit" Color="Color.Primary" Disabled=@(!success&&process) Class="ml-auto">
                @if (process)
                {
                    <MudProgressCircular Class="ms-n1" Size="Size.Small" Indeterminate=true/>
                    <MudText>Processing</MudText>
                }
                else{
                    <MudText>Login</MudText>
                      }
            </MudButton>
        </div>
    </MudForm>
</MudPaper>

@code {
    public Login log = new Login();
    MudForm form;
    bool success;
    private bool process;
    async void Submit()
    {
        process = true;
        if (log.Username == "Admin" && log.Password == "admin@123")
        {
            UserData us = new UserData()
                {
                    username = log.Username,
                    Company = "samsung",
                    Plant = "Plant1",
                    Department = "Dept2",
                    SubDepartment = "SubD1"
                };

            User.userdata = us;
            await SecureStorage.SetAsync("user", JsonConvert.SerializeObject(us));
            nav.NavigateTo("/");
        }
        else
        {
            await App.Current.MainPage.DisplayAlert("Login", "Incorrect Credentials!", "OK");
        }
        process = false;
    }
}
