@page "/logout"


@inject NavigationManager NaviManager;

<h3>Logout</h3>

@code {

    protected override void OnInitialized()
    {
        SecureStorage.RemoveAll();
        User.userdata = null;
        NaviManager.NavigateTo("/loginPage",true);
        }
   

}
